body {
    margin-left: 200px; 
}


.sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 200px;       
    height: 100vh;
    padding: 25px 15px;
    background: #0071eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.logo-container img {
    width: 90px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.menu-vertical {
    width: 100%;
}

.menu-vertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.menu-vertical a {
    display: block;
    width: 100%;
    padding: 12px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.2s ease, padding-left 0.2s ease;
}


.menu-vertical a:hover,
.menu-vertical a.active {
    background-color: #005ec2;
    padding-left: 20px;
    font-weight: bold;
}
